body {
	margin: 0;
	background: radial-gradient(circle, purple, yellow, purple, yellow);
	width: 100vw;
	height: 100vh;
}
div {
	text-align: center;
}
h1,
h2,
h3 {
	font-family: "Pirata One", cursive;
	color: #ffd700;
}
p {
	color: white;
}