/* 

.body{
font-family: sans-serif;
font-size: 100%;
color: #444;
background-color: #ddd;  
}

.papers, .papers:before, .papers:after  {
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 300px 25px rgb(231, 228, 228) inset;
  border: 1px solid #ccc;
  background: rgb(235, 229, 229);
}

.papers  {
  position: relative;
  width: 50%;
  padding: 2em;
  margin: 50px auto;
}

.papers:before, .papers:after  {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2.5deg);
  -o-transform: rotate(2.5deg);
  transform: rotateZ(2.5deg);
  z-index: -1;
}

.papers:after  {
  -webkit-transform: rotateZ(-2.5deg);
  -o-transform: rotate(-2.5deg);
  transform: rotateZ(-2.5deg);
}

.papers h2  {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  padding: 0.2em 0;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.papers p  {
  text-align: left;
  margin: 1,5em 0;
} */

/* .container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
} */

